# Importe de librerias

In [35]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import nltk 
import string
from nltk.corpus import stopwords
nltk.download('stopwords')
import collections

[nltk_data] Downloading package stopwords to /home/fanu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [36]:
ds_descrip = pd.read_csv('properati_argentina_2021_decrip.csv')

In [37]:
ds_descrip.head()

                         id                               property_description
0  BZCeiGkJr1WBUi6pKJQwJQ==  Corredor Responsable: MARIA ALEJANDRA GENOVEVA...
1  zuHOGgUE0UB71W7m/YCLoA==  ¡HERMOSO PH TIPO CASA DE 2 AMBIENTES!<br>APTO ...
2  TUL813tXchVBlHUsfaA6DA==  Excelente PH en Núñez 4 amb!!!! Oportunidad !!...
3  gn55JPmcjftBV/at1a7fPg==  UNICO PH DE 4 DORMITORIOS EN IMPECABLE ESTADO,...
4  qg4m3QHcuo1+wMmyp7kx3Q==  Ph 2 Amb. Villa Crespo exclusivo uso profesion...

In [38]:
ds_descrip.dtypes

id                      object
property_description    object
dtype: object

Realizo transformaciones sobre el dataset

In [39]:
#convierto columna a STR
ds_descrip['property_description'] = ds_descrip['property_description'].astype(str)

#saco signos de puntuacion
ds_descrip['property_description'] = ds_descrip['property_description'].str.replace('[{}]'.format(string.punctuation), '')

<ipython-input-39-50195bd27dea>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  ds_descrip['property_description'] = ds_descrip['property_description'].str.replace('[{}]'.format(string.punctuation), '')

Elimino Stop_words

In [40]:
def eliminar_stopwords(texto, stopwords):
    return ' '.join([word for word in texto.split(' ') if word not in stopwords])


stop_words =  set(stopwords.words('spanish'))


for index, row in ds_descrip.iterrows():
    ds_descrip['property_description'][index] = eliminar_stopwords(ds_descrip["property_description"][index], stop_words)

In [41]:
texto = ""
for index, row in ds_descrip.iterrows():
    texto += ds_descrip['property_description'][index]

Tokenizo todo

In [ ]:

bag_of_words = nltk.word_tokenize(texto)

In [ ]:
lower_tokens = [token.lower() for token in bag_of_words]
counter_var = collections.Counter(lower_tokens)
counter_var.most_common(30)

[('cocina', 354241),
 ('baño', 348543),
 ('de', 312898),
 ('comedor', 298446),
 ('2', 292969),
 ('propiedad', 243381),
 ('living', 226179),
 ('dormitorios', 216964),
 ('dos', 212398),
 ('piso', 210605),
 ('casa', 210532),
 ('en', 210340),
 ('ambientes', 204186),
 ('3', 199490),
 ('cuenta', 189446),
 ('completo', 188352),
 ('la', 184856),
 ('dormitorio', 184102),
 ('con', 180469),
 ('frente', 180409),
 ('responsable', 173944),
 ('y', 165074),
 ('planta', 161631),
 ('1', 158351),
 ('balcón', 156901),
 ('x', 155375),
 ('a', 154961),
 ('el', 154710),
 ('departamento', 154329),
 ('m2', 152405)]

In [27]:
ds_descrip.head()

,id,property_description,tok
0,BZCeiGkJr1WBUi6pKJQwJQ==,Corredor Responsable MARIA ALEJANDRA GENOVEVA ...,"[Corredor, Responsable, MARIA, ALEJANDRA, GENO..."
1,zuHOGgUE0UB71W7m/YCLoA==,¡HERMOSO PH TIPO CASA DE 2 AMBIENTESbrAPTO CRÉ...,"[¡HERMOSO, PH, TIPO, CASA, DE, 2, AMBIENTESbrA..."
2,TUL813tXchVBlHUsfaA6DA==,Excelente PH Núñez 4 amb Oportunidad Total 15...,"[Excelente, PH, Núñez, 4, amb, Oportunidad, To..."
3,gn55JPmcjftBV/at1a7fPg==,UNICO PH DE 4 DORMITORIOS EN IMPECABLE ESTADO ...,"[UNICO, PH, DE, 4, DORMITORIOS, EN, IMPECABLE,..."
4,qg4m3QHcuo1+wMmyp7kx3Q==,Ph 2 Amb Villa Crespo exclusivo uso profesiona...,"[Ph, 2, Amb, Villa, Crespo, exclusivo, uso, pr..."